button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

h3 {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.portfolio {
  margin-bottom: 72px;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.adress-link-list {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation-menu {
  display: flex;
  margin-right: auto;
  align-items: center;
}
/*------------SECTION----------*/
.section {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-first {
  padding-top: 120px;
  padding-bottom: 120px;
}

.first-list {
  display: flex;
  gap: 24px;
}

.li-list {
  width: calc((100% - 72px) / 4);
}

.container-feature {
}

.section-fture {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.paragraph-fture {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.section-fture-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
}

.section-start {
  height: 100vh;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
}
.section-gadget {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gadget-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gadget-list {
}

.li-gadget {
  width: calc((100% - 48px) / 3);
}

.gadget-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-name {
  margin-bottom: 8px;
  text-align: left;
}

.portfolio-paragraph {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.img-paragraph {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.mark {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.mark span {
  display: inline-block;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 8px;
  margin-right: 24px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.container-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
/*-------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

.logo-web {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

a {
  text-decoration: none;
}

/*----------LINK--------*/

.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.link-adress {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-adress:hover,
.link-adress:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-adress-first {
  font-style: normal;
}

/*--------------------------*/
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cntainer-footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.logo-fter {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web-fter {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: left;
}

/*---------img------*/

.img-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.img-team {
  display: block;
}

.img-gadget {
  display: block;
}
